.postsPage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
}

.list {
    flex-grow: 1;
}
